@page "/"

<CardComponent CardDetails="@CardDetails"/>

<div class="form-container">
    <div class="mb-1">
        <label for="exampleFormControlInput1" class="form-label">Card Number</label>
        <input type="text" class="form-control" @bind="@CardDetails.CardNumber" @bind:event="oninput">
    </div>
    <div class="mb-1">
        <label for="exampleFormControlInput1" class="form-label">Card Name</label>
        <input type="text" class="form-control" @bind="@CardDetails.CardName" @bind:event="oninput">
    </div>
    <div class="mb-1">
        <label for="exampleFormControlInput1" class="form-label">Expiration Date</label>
        <input type="text" class="form-control" @bind="@CardDetails.Month" @bind:event="oninput">
    </div>
    <div class="mb-1">
        <input type="text" class="form-control" @bind="@CardDetails.Year" @bind:event="oninput">
    </div>
    <div class="mb-1">
        <label for="exampleFormControlInput1" class="form-label">CVV address</label>
        <input type="text" class="form-control" @bind="@CardDetails.Cvv" @bind:event="oninput">
    </div>
</div>

@code {
    public CardDetails CardDetails { get; set; }

    [Parameter]
    public RenderFragment CardVisual { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        CardDetails = new();
    }
}
